{% extends "../store/base.html" %} {% load static %} {% block title %}Dashboard{%endblock %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <h5 class="text-bold">Dashboard</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}